<div class="container">

<div class="card" >
<img class="card-img" src="/assets/2609781.jpg" alt="" style="height:85vh;">
    <div class="card-img-overlay  ">
      <h1 class="text-primary display-3"><span class="text-danger font-weight-bold">J</span>apan<br><span class="text-danger font-weight-bold">A</span>round<br><span class="text-danger font-weight-bold">M</span>a<span class="text-danger font-weight-bold">P</span>!</h1>
      <p><span class="bg-warning font-weight-bold">これからの日本一周する人たちのための日本一周者の集い場</span></p>
    </div>


  </div>

<div class="container bg-white">
<h3 class="w-color text-center">JAMP(試作品)を作ろうと思ったきっかけ</h3>
<p>大学生の時に日本一周を行った際にgoogleマップには

<ul>
<li>野宿してもいい場所が出ない</li>
<li>ホテルに泊まるにしてもバイクの駐輪が出来るかがわからない</li>
<li>旅人におすすめのホテル・キャンプ場・観光場所のみが表示される機能がない</li>
</ul>

などあまり旅人に優しい機能がないということに気づき苦労しました。
<br>
また、日本一周をした後はみんなそれぞれの道を歩んでいるが具体的にはどのような人生を送っているのか気になったため、これから日本一周を行う人たちが
<br><br>
<ul>
<li>宿泊場所に困らない</li>
<li>素晴らしい観光場所を見逃さない</li>
<li>人との出会いを大切に出来る</li>
<li>日本一周経験者のその後を知ることで日本一周後の人生設計を立てやすくなる</li>
</ul>
ように日本一周する人たちのためにアプリを作りたいと思うようになりました。

最終的には<br><br>
<ul>
<li>登録することで各々おすすめの観光スポットや宿泊場所を一つの日本地図にピンを刺せるようになり、それをみんなが共有して見れる</li>
<li>ピンを刺した場所に口コミを記入できる</li>
<li>日本一周後の人生の送り方・これから日本一周する人たちに向けてのアドバイス</li>
<li>そこまでのルートの検索</li>
</ul>
ができるようにしたいと考えています。

日本一周はなかなかできない体験であるとともにその後も人生は続いていくため単なる「点」で終わることのないように日本一周の経験をその後の「点」と結びつけて「線」にして人生をよりよくして欲しいと思っています。
<br><br>

今回は私が理想としているwebアプリに向けて試しにgoogle apiを用いました。

</p>
</div>
</div>



 

 